<section class="m-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto ">
                <div class="row">
                    <div class="col-9 d-flex flex-column justify-content-center">
                        <h3 class="h3 display-5">The first heading <span class="text-secondary">will catch your eye.</span></h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum reiciendis facere excepturi velit earum, soluta, esse debitis architecto nemo modi, quasi aliquam necessitatibus. Adipisci temporibus doloremque laboriosam dolore atque eos.</p>
                    </div>
                    <div class="col-3">
                        <img src="/website/assets/img/1.jpg" class="img-fluid w-100 rounded-circle" alt="Brain Cranston's face">
                    </div>

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-10 mx-auto ">
                <div class="row">
                    <div class="col-3">
                        <img src="/website/assets/img/2.jpg" class="img-fluid w-100 rounded-circle" alt="Brain Cranston's face">
                    </div>
                    <div class="col-9">
                        <h3 class="h3 display-5">The second heading <span class="text-secondary">is pretty cool too.</span></h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum reiciendis facere excepturi velit earum, soluta, esse debitis architecto nemo modi, quasi aliquam necessitatibus. Adipisci temporibus doloremque laboriosam dolore atque eos.</p>
                    </div>
            
                </div>

            </div>
        </div>
    </div>
</section>